In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('adult.data.csv')
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [5]:
race_count = df['race'].value_counts()
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [6]:
average_age_men = df.loc[df['sex'] == 'Male', 'age'].mean().round(1)
average_age_men

39.4

In [7]:
percentage_bachelors = round((df.loc[df['education'] == 'Bachelors'].shape[0] / df.shape[0]) * 100, 1)
percentage_bachelors

16.4

In [8]:
higher_education = df.loc[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])].shape[0]
higher_education

7491

In [9]:
lower_education = df.loc[~(df['education'].isin(['Bachelors', 'Masters', 'Doctorate']))].shape[0]
lower_education

25070

In [10]:
higher_education_rich = round((df.loc[(df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])) & (df['salary'] == '>50K')].shape[0] / higher_education) * 100, 1)
higher_education_rich

46.5

In [11]:
lower_education_rich = round((df.loc[~(df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])) & (df['salary'] == '>50K')].shape[0] / lower_education) * 100, 1)
lower_education_rich

17.4

In [12]:
df['education'].value_counts()

HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: education, dtype: int64

In [13]:
df['salary'].value_counts()

<=50K    24720
>50K      7841
Name: salary, dtype: int64

In [14]:
df.shape

(32561, 15)

In [15]:
aaa = df.loc[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
aaa['salary'].value_counts()
aaa['education'].value_counts().sum()

7491

In [16]:
min_work_hours = df['hours-per-week'].min()
min_work_hours

1

In [17]:
num_min_workers = df.loc[df['hours-per-week'] == df['hours-per-week'].min()].shape[0]
rich_percentage = round((df.loc[(df['hours-per-week'] == df['hours-per-week'].min()) & (df['salary'] == '>50K')].shape[0] / num_min_workers) * 100, 1)
rich_percentage
# num_min_workers

10.0

In [18]:
df.loc[(df['hours-per-week'] == df['hours-per-week'].min()) & (df['salary'] == '>50K')].shape[0]

2

In [60]:
highest_earning_country = (df.loc[df['salary'] == '>50K', 'native-country'].value_counts() / df['native-country'].value_counts()).sort_values(ascending=False).index[0]
highest_earning_country

'Iran'

In [63]:
highest_earning_country_percentage = round((df.loc[df['salary'] == '>50K', 'native-country'].value_counts() / df['native-country'].value_counts()).sort_values(ascending=False).values[0] * 100, 1)
highest_earning_country_percentage

41.9

In [20]:
# Identify the most popular occupation for those who earn >50K in India.
top_IN_occupation = df.loc[(df['native-country'] == 'India') & (df['salary'] == '>50K'), 'occupation'].value_counts().head(1).index[0]
top_IN_occupation

'Prof-specialty'