In [1]:
import numpy as np
import pandas as pd
import sqlite3

In [2]:
conn = sqlite3.connect(':memory:')

In [3]:
c = conn.cursor()

In [5]:
c.executescript(open('files/van_crime_2003.sql', 'r').read())

In [13]:
van_crimes_df = pd.read_sql('SELECT TYPE, MONTH, DAY, NEIGHBOURHOOD FROM van_crimes WHERE NEIGHBOURHOOD=="Stanley Park" OR NEIGHBOURHOOD=="West End"', conn)

In [14]:
van_crimes_df

                                 TYPE  MONTH   DAY NEIGHBOURHOOD
0                  Theft from Vehicle     12  30.0  Stanley Park
1                  Theft from Vehicle     12  28.0  Stanley Park
2                  Theft from Vehicle     12  12.0  Stanley Park
3                  Theft from Vehicle     12  12.0  Stanley Park
4                  Theft from Vehicle     11   5.0  Stanley Park
..                                ...    ...   ...           ...
59  Break and Enter Residential/Other      1  23.0      West End
60  Break and Enter Residential/Other      2   2.0      West End
61  Break and Enter Residential/Other      2  12.0      West End
62  Break and Enter Residential/Other      2  15.0      West End
63  Break and Enter Residential/Other      6  11.0      West End

[64 rows x 4 columns]

In [22]:
crime_types_count = van_crimes_df['TYPE'].value_counts()
crime_types_count

Theft from Vehicle                   31
Break and Enter Residential/Other    15
Theft of Vehicle                     11
Mischief                              7
Name: TYPE, dtype: int64