In [1]:
import numpy as np
import pandas as pd
import sqlite3

In [2]:
conn = sqlite3.connect(':memory:')

In [3]:
c = conn.cursor()

In [4]:
c.executescript(open('files/cryptos.sql', 'r').read())

In [29]:
crypto_df = pd.read_sql('''SELECT id, 
                    cryptocoins_cryptocurrency.name AS coin_name, 
                    cryptocoins_exchange.name AS exchange,
                    symbol,
                    price_usd,
                    percent_change_7d
                    FROM cryptocoins_cryptocurrency 
                    INNER JOIN cryptocoins_exchange USING(id)''', 
                 conn
                )

crypto_df

   id     coin_name  exchange symbol  price_usd  percent_change_7d
0   1       Bitcoin  Bitstamp    BTC    8707.37              -5.91
1   2      Ethereum  Poloniex    ETH     186.50              -0.66
2   3           XRP   Binance    XRP       0.27              -8.22
3   4  Bitcoin Cash      OKEx    BCH     278.92              -4.76

In [31]:
weekly_change_df = crypto_df['percent_change_7d'].sort_values(ascending=False)
weekly_change_df

1   -0.66
3   -4.76
0   -5.91
2   -8.22
Name: percent_change_7d, dtype: float64