In [1]:
import numpy as np
import pandas as pd

In [2]:
col_names = ['Title', 'Air date', 'Production code', 'Season', 'Number in season',
             'Number in series', 'US viewers (million)', 'Views', 'IMDB rating']

In [3]:
path = 'files/simpsons-episodes.tsv'

In [9]:
df = pd.read_csv(path, delimiter='\t', 
                 skiprows=4, 
                 header=None, 
                 names=col_names, 
                 usecols=['Title', 'Air date', 'Production code', 'IMDB rating'],
                 na_values='no_val',
                 index_col='Production code',
                 encoding='UTF-8'
           )

In [10]:
df['Air date'] = pd.to_datetime(df['Air date'])

In [11]:
df.head()

,Title,Air date,IMDB rating
Production code,,,
7F01,Two Cars in Every Garage and Three Eyes on Eve...,1990-01-11,8.1
7F08,NaN,1990-11-15,8.0
7F06,Bart the Daredevil,1990-06-12,NaN
NaN,Bart Gets Hit by a Car,1991-10-01,7.8
7F13,Homer vs. Lisa and the 8th Commandment,1991-07-02,8.0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 597 entries, 7F01 to SABF13
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        575 non-null    object
 1   Air date     597 non-null    datetime64[ns]
 2   IMDB rating  592 non-null    float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 18.7+ KB

In [13]:
df.shape

(597, 3)